a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(246, 7, 246);
}
.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  /* -webkit-box-shadow: -11px 10px 31px -13px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -11px 10px 31px -13px rgba(0, 0, 0, 0.33);
  box-shadow: -11px 10px 31px -13px rgba(0, 0, 0, 0.33); */
}
