.container_toggle {
  height: 28px;
  width: 52px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 255, 255) 0%, rgb(77, 5, 21) 100.2%);
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.container_toggle.container_dark {
  background-color: #52527a;
}

.handle {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
}

.icon {
  color: #f88748;
}

.icon_dark {
  color: #501a96;
}
